<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box_model">

  <xacro:arg name="length" default="0.1" />
  <xacro:property name="length" value="'$(arg length)'" />
  <xacro:arg name="width"  default="0.1" />
  <xacro:property name="width" value="'$(arg width)'" />
  <xacro:arg name="height" default="0.1" />
  <xacro:property name="height" value="'$(arg height)'" />

  <link name="box" concave="yes">
    <inertial>
      <mass value="0.390" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.0005" ixy="0.0"  ixz="0.0"  iyy="0.0005"  iyz="0.0"  izz="0.0005" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="${length} ${width} ${height}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="${length} ${width} ${height}"/>
      </geometry>
    </collision>
  </link>
</robot>
