<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cylinder_model">

  <xacro:arg name="height" default="0.1" />
  <xacro:property name="height" value="'$(arg height)'" />
  <xacro:arg name="radius"  default="0.1" />
  <xacro:property name="radius" value="'$(arg radius)'" />

  <link name="cylinder" concave="yes">
    <inertial>
      <mass value="0.390" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.0005" ixy="0.0"  ixz="0.0"  iyy="0.0005"  iyz="0.0"  izz="0.0005" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="${height}" radius="${radius}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="${height}" radius="${radius}"/>
      </geometry>
    </collision>
  </link>
</robot>
